# SPDX-License-Identifier: LicenseRef-MIND-UCAL-1.0
# Clang-tidy configuration for git-mind

Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-magic-numbers,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-narrowing-conversions,
  google-readability-function-size,
  llvm-include-order,
  misc-*,
  modernize-use-bool-literals,
  performance-*,
  readability-*,
  readability-function-cognitive-complexity,
  readability-function-size,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-else-after-return,
  -misc-unused-parameters,
  -cert-err33-c,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp

CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '15'
  - key: readability-function-size.StatementThreshold
    value: '20'
  - key: readability-function-size.BranchThreshold
    value: '5'
  - key: readability-function-size.ParameterThreshold
    value: '5'
  - key: readability-function-size.NestingThreshold
    value: '3'
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;-1'
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.GlobalConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: 'GM_'

WarningsAsErrors: >
  readability-function-size,
  cppcoreguidelines-avoid-magic-numbers,
  bugprone-suspicious-string-compare